*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/h.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.99px;
    background: #ff4808;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
     width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.text-box a:hover{
    border: 1px solid #ff4800;
    background-color: #ff4800;
}
nav .fa-solid{
    display: none;
}
    @media(max-width:700px) {
        .text-box h1{
            font-size: 20px;

        }       
    
 .nav-links li{
    display: block;
 }
 .nav-links{
    position: absolute;
    background: #0ec34e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align:left;
    z-index: 2;
    transition: 0.5s linear;
 }
 .nav-links ul li a{
    color: #f8fbf3;
 }
 nav .fa-solid{
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
 }
 .nav-links ul{
    padding: 30px;
    text-align: left;
 }
}
.course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    font-size: 18px;
    font-weight: 300;
    color: #272727;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.course-col{
    flex-basis: 31%;
    flex-direction: row;
    background-color:rgb(159, 158, 158);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.course-col h3{
    text-align:left;
    color: #000;
}
.course-col p{
    color: #000;
    text-align: justify;
    text-justify: newspaper;
    font-size: 14px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
    background-color: #034446;
    color:#ffffff;
}
.course-col hr{
    color: #fff;
    width: 100%;
    height: 3px;
    box-shadow: none;
    margin-top: 5%;
}
.course-col .fa-brands{
    font-size: 50px;
    display: inline;
    color: #000;
    padding-right: 15px;
}
.course-title{
    display: flex;
    line-height: 50px;
}
/*.course-col .kk{
    display: flex;
}*/
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .course-col .fa-brands{
        font-size: 25px;
        display: inline;
        padding-right: 13px;
        color: #fff;
    }

}
.course title{
    display: flex;
    line-height: 25px;
}
.course-col.btn1{
    font-size: 15px;
    padding-left: 20px;
    margin: 20px;
    background-color:#000;

}
.course-col:hover{
    font-size: 13px;
}
/*  This is comony css */
.company{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.company-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 85%;
}
.company-col img{
    width: 100%;
    height: 85%;
    display: block;
    border-radius: 10px;
}
.layer{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
}
.layer:hover{
    background-color: rgb(226, 0, 0, 0.3); 
}
.layer h3{
    width: 100%;
    color: #fff;
    bottom: 0%;
    left: 50%;
    transform: translatex(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
.card{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.card-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: hsl(0, 48%, 33%);
    position: relative;
}
.card-col img{
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.card-col p{
    padding: 12;
    font-size: 13px;
    text-align: justify;

}
.card-col h3{
    padding: 10px 12px;

}
.student{
    width: 100%;
    min-height: 80vh;
    background: url(../image/h.jpg) no-repeat fixed top center; 
    background-size: cover ;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.student::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(248, 100, 100, 0.7)
}z
.testimonials{
    width: 80%;
  margin: auto;
    padding-top: 100px;
    text-align: center;
    position: relative;
}
.testimonials-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: white;
    padding: 25px;
    cursor: pointer;
    display: flex;
    position: relative;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 50%;
} 
.ft{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.8)), url(../image/market.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.container{
    width: 90%;
    margin: auto;
    padding: 17px 0;
}
.footr-col{
    flex-basis: 31%;
    text-align: left;
    position: relative;
}
.footer-col h3{
    color:#fff ;
    position: relative;
    margin-bottom: 35px;
}
.footer-col h3::before{
    content: '';
    left: 0;
    bottom: -12px;
    height: 2px;
    width: 70px;
    background: #fff;
    position: absolute;
}
.footer-col ul li a{
    
    padding: 10px;
    color: #fff;
    
}
.footer-col ul li{
    text-decoration: none;
    color: #fff;
    list-style: none;

}
.footer-col ul li i{
    padding-right: 12px;
}
.footer-col .fa-brands{
    font-size: 40px;
    color: gold;
    padding: 14px;

}
.lower-footr{
    width: 100%;
    background: #060606;
    color: #fff;
    font-family: 'gill sans', 'giaa sana mt', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 10vh;
    line-height: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: 0;
    margin: auto;
    position: relative;
    padding: 12px 0;
}
.lower-footr .fa-regular{
    color: purple;
}

.header-contact{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/Picture2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
venue{
    width: 90%;
    min-height: 50vh;
    align-items: center;
    margin: auto;
}
/* this above css */


.Why-college{
width: 90%;
margin: auto;
text-align: left;
padding: 100px;
}
.Why-college-col{
    flex-basis: 44%;
    flex-direction: row;
    
}
.Why-college-col img{
  width: 100%;
}
.footer-col img{
    height: 160px;
    margin-left: 20px;
    margin-right: 200px;
    border-radius: 200%;
} 
